<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.coolweather.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".WeatherActivity" />
        <activity
            android:name="com.example.tools.QRcode_Make"
            android:label="二维码生成"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name="com.example.tools.QRcode_Scan"
            android:label="二维码扫描"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name="com.example.tools.MipcaActivityCapture"/>

        <service
            android:name=".service.AutoUpdateService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>